body {
    margin: 0;
    background-color:black;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    /*  width: 80%;
    margin: auto; */
  }
  
  button {
    font-family: sans-serif;
    font-size: 15px;
  }
  /* Global */
  .wrapper {
    /* grid */
    width: 80%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 2fr 0.7fr;
    grid-auto-rows: minmax(
      min-content,
      max-content
    ); /* grid-auto-rows: minmax(100px, auto); */
    grid-gap: 1em;
    max-width: 1400px;
  }
  
  /* column grid */
  .column1 {
    grid-column: 1;
  }
  .column2 {
    grid-column: 2;
  }
  .column3 {
    grid-column: 3;
  }
  
  .box,
  .card,
  .container {
    background-color: darkslategrey;
    padding: 1em;
    border: 0 /* solid transparent */;
    border-radius: 3px;
    box-shadow: 10px 10px 20px -20px;
    margin-bottom: 1em;
  }
  hr {
    opacity: 0.5;
  }
  
  /* header Zhamilia*/
  
  header {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #199de5;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }
  
  header li {
    padding: 20px;
    cursor: pointer;
  }
  header a {
    color: white;
  }
  #seytech {
    background-color: #076490;
    padding: 20px 25px;
  }
  #seytech:hover {
    background-color: #87959c;
  }
  
  header li:hover {
    background-color: #f5f7f8;
    color: black;
  }
  
  /* column1 part 1 Anna */
  .box i {
    margin-right: 16px;
  }
  
  .box1 h4 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .box1 img {
    display: block;
    margin: auto;
    height: 75%;
    width: 75%;
    border-radius: 50%;
  }
  
  .box1 i {
    color: rgb(136, 136, 136);
  }
  
  /* box2 Anna */
  .box2 {
    padding: 0 0 15px 0;
  }
  .box2 ul {
    padding: 0;
    margin: 16px;
    list-style-type: none;
  }
  .box2 .btn {
    background-color: #199de5;
    border: none;
    color: white;
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-align: left;
    cursor: pointer; /*mouse pointer on hover */
  }
  .box2 a {
    color: black;
    text-decoration: none;
  }
  .box2 button:hover {
    background-color: lightgrey;
    color: black;
  }
  .box2 .btn i {
    margin-left: 10px;
  }
  .box2 .photos {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.7em;
    margin: 10px;
  }
  .box2 .photos img {
    width: 100%;
  }
  
  /* Indi */
  .box3 span {
    display: inline-block;
    margin: 4px 0;
    color: white;
    padding: 3px 8px;
    font-size: 12px;
  }
  .blue {
    background-color: #076490;
  }
  
  .aqua {
    background-color: #199de5;
    margin-top: 10px;
  }
  
  .darkgrey {
    background-color: #9eb1bb;
    color: black;
  }
  
  .grey {
    background-color: #becbd2;
    color: black;
  }
  
  .lightgrey {
    background-color: #dfe5e8;
    color: black;
  }
  
  .white {
    background-color: #fcfdfd;
    color: black;
  }
  
  .box4 {
    position: relative;
    padding: 20px;
    background-color: rgb(87, 82, 82);
    grid-column: 1;
    grid-row: 1 / initial;
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #becbd2;
    padding: 8px 16px;
    font-weight: bold;
  }
  
  .close-button:hover {
    background-color: lightpink;
  }
  
  .box4 h4 {
    margin-top: 0;
  }
  .box4 p {
    padding: 0;
  }
  
  .box4 {
    background-color: rgb(87, 82, 82);
  }
  
  /* column 2 Gulnaz*/
  .card1 input {
    border: 1px solid #a39d9d;
    padding: 8px;
    margin-top: 15px;
    width: 96%;
  }
  .card .btn {
    background-color: #199de5;
    border: none;
    color: white;
    padding: 5px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer; /*mouse pointer on hover */
  }
  .card button:hover {
    background-color: lightgrey;
    color: black;
  }
  .card .fa,
  .fas {
    margin-right: 5px;
  }
  
  .card .images {
    display: flex;
    justify-content: center;
  }
  
  .card2 .img_1 {
    padding-right: 2%;
  }
  
  .portfolio {
    display: flex;
    position: relative;
  }
  .portfolio img {
    margin-top: 20px;
    border-radius: 100%;
  }
  .right {
    opacity: 0.6;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  
  .card h4 {
    margin-left: 15px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
  }
  
  .card a {
    display: block;
    color: black;
  }
  
  /* start Denis part */
  /* column3 */
  
  .container {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
  }
  .cntr1 img {
    width: 100%;
  }
  
  .cntr1 p button:hover {
    background-color: lightgrey;
  }
  
  .cntr2 img {
    width: 50%;
  }
  
  .info_button {
    width: 100%;
    background: #dfe5e8;
    padding: 8px 16px;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  .accept,
  .decline {
    color: white;
    margin: 16px 0px;
    padding: 8px 16px;
    border: none;
    width: 50%;
    cursor: pointer;
  }
  .cntr2 .btn {
    display: flex;
    justify-content: center;
  }
  .accept {
    background: lightgreen;
  }
  .decline {
    background: lightcoral;
  }
  .cntr2 button:hover {
    background-color: lightgrey;
  }
  .cntr3 {
    text-align: center;
    padding: 16px 0px;
  }
  .cntr4 {
    padding: 16px 0px;
    font-size: 32px;
  }
  /* end Denis part */
  
  /* footer Zhamilia */
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
  }
  footer .footer-a {
    background-color: #076490;
    padding: 16px;
  }
  footer .footer-b,
  footer .footer-b a {
    background-color: #199de5;
    padding: 13px;
    color: white;
  }
  
  /* Media Queries */
  
  @media (max-width: 700px) {
    .wrapper {
      display: block;
    }
  
    .box1 img {
      height: 60%;
      width: 60%;
    }
  
    .box2 .photos {
      grid-template-columns: auto;
      width: 90%;
      padding: 10px;
    }
  
    .card .images {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .card2 .img_1,
    .img_2 {
      width: 100%;
      padding-right: 0;
    }
  
    .card2 .img_1 {
      margin-bottom: 15px;
    }
  
    .cntr2 .btn {
      display: block;
    }
  
    .accept,
    .decline {
      width: 100%;
    }
  
    .cntr1 img {
      width: 80%;
    }
  }
  